application/logs/*
application/cache/*
application/vendor/*
application/config/development
application/install.txt
application/config/my_config.php
application/config/database.php
!application/logs/index.html
!application/cache/.htaccess
download
my_cookies.txt